<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.epprojekt.ep_sjpp_prototyp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EP_SJPP_Prototyp">
        <activity
            android:name=".DeletePageActivity"
            android:exported="false" />
        <activity
            android:name=".MenueActivity"
            android:exported="false" />
        <activity
            android:name=".WarenkorbActivity"
            android:exported="false" />
        <activity
            android:name=".WasserActivity"
            android:exported="false" />
        <activity
            android:name=".GemueseUndObstActivity"
            android:exported="false" />
        <activity
            android:name=".GetraenkeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>